.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h3{
    color: var(--light-color);
    font-size: 44px;
  }
  p{
    font-size: 16px;
    line-height: 28px;
    max-width: 600px;
    text-align: center;
    margin: 1.2rem 0;
    color: var(--light-color);
  }
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  max-width: 520px;
  width: 100%;
  margin: 1rem 0;
  background: #f1f2f3;
  height: fit-content;
  padding: .2rem .4rem;
  border: 3px solid var(--main-color);
  input{
    width: 100%;
    height: 56px;
    border: none;
    outline: none;
    text-indent: 20px;
    font-size: 18px;
    background: transparent;
  border-radius: 40px;

  }
  button{
    border-radius: 40px;
    height: 100% !important;
    padding: 1rem 2rem;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border: none;
    height: 56px;
    color: var(--light-color);

    background-color: var(--main-color);
    &:hover{
      opacity: .8;
      cursor: pointer;
    }
  }
}


.social-actions{
  margin: 2rem auto;

  h6{
    color: var(--light-color);
    font-size: 16px;
    font-weight: 400;
  }
  .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 1rem;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      color: var(--light-color);
      font-size: 20px;
      border-radius: 50%;
      background-color: var(--main-color);
    }
  }
}



// Responsive codes

@media only screen and (max-width:702px){
  .main{
    h3{
      font-size: 38px;
    }
    p{
      font-size: 15px;
      max-width: 600px;
      margin: 1.2rem 0;
    }
  }


  form{
  
    max-width: 520px;
    margin: 1rem 0;  
    padding: .1rem .4rem;
    input{
      height: 52px;
      font-size: 16px;
  
    }
    button{
      padding: 1rem 2rem;
      font-size: 15px;
      height: 52px;
      }
    
  }
  
}


@media only screen and (max-width:608px){
  .main{
    h3{
      font-size: 28px;
    }
    p{
      font-size: 14px;
      line-height: 22px;
      max-width: 600px;
      margin: 1rem 0;
    }
  }


  form{
  
    max-width: 520px;
    margin: .8rem 0;  
    padding: .1rem .4rem;
    input{
      height: 50px;
      font-size: 16px;
  
    }
    button{
      padding: .7rem 2rem;
      font-size: 14px;
      height: 52px;
      }
    
  }
  
}


@media only screen and (max-width:488px){
  .main{
    h3{
      font-size: 23px;
    }
    p{
      font-size: 12px;
      line-height: 20px;
      max-width: 600px;
      margin: 1rem 0;
    }
  }


  form{
    max-width: 520px;
    margin: .8rem 0;  
    padding: .1rem .4rem;
    input{
      height: 48px;
      font-size: 14px;
      text-indent: 12px;
  
    }
    button{
      padding: .7rem 1.6rem;
      font-size: 13px;
      height: 48px;
      }
    
  }
  
}


@media only screen and (max-width:402px){
  .main{
    h3{
      font-size: 23px;
    }
    p{
      font-size: 11px;
      line-height: 18px;
      margin: 1rem 0;
    }
  }


  form{
    max-width: 520px;
    margin: .8rem 0;  
    padding: .1rem .4rem;
    input{
      height: 48px;
      font-size: 13px;
      text-indent: 12px;
  
    }
    button{
      padding: .7rem 1.2rem;
      font-size: 12px;
      height: 48px;
      }
    
  }
  
}